!!! 5
%html
  :javascript
    var ws = new WebSocket('ws://localhost:4567/#{params[:scope]}/');
    ws.onopen = function() { };
    ws.onclose = function() { };
    ws.onmessage = function(m) {
      document.getElementById('image_tag').src = m.data;
      document.getElementById('sound').Play();
    };
  %img#image_tag{src: "#{img_src}", width: 1920, height: 1080}
  %embed#sound{src: "/bell.wav", autostart:"true", width:"0", height:"0", enablejavascript:"true"}